body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/bg_form_2.jpg") ;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moveBackground 65s infinite linear;
    opacity: 0.9;
  }

  @keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }

  h1 {
    text-align: center;
    margin-top: 30px;
    color: #fff;
    
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.2);
    
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    padding: auto;
    
  }
  
  input[type="text"],
  input[type="email"],
  
  select {
    width: 85%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: 2px solid #2596be;
    font-size: 16px;
  }
  
  input[type="radio"]{
    display: inline-block; 
    width: auto;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #2596be;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  }

  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  

  #header_text{
    text-shadow: 0 0 20px black;

  }
   /*input[type="checkbox"] */

   #terms_and_conditions{
    text-align: center;
   }